.dashboard-flag {
  position: absolute;
  top: -12px;
  right: -5px;
}
.dashboard-flag .flag-corner {
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
}

.dashboard-flag .flag-box {
  color: #ffffff;
  font-size: 0.5em;
  width: 34px;
  height: 20px;
  border-radius: 3px 3px 3px 0;
  text-align: center;
  line-height: 20px;
}

.dashboard-flag.magenta .flag-box {
  background: #F40F97;
}
.dashboard-flag.magenta .flag-corner {
  border-top: 7px solid #F40F97;
}
.dashboard-flag.blue .flag-box {
  background: #00C1F6;
}
.dashboard-flag.blue .flag-corner {
  border-top: 7px solid #00C1F6;
}
.dashboard-flag.green .flag-box {
  background: #7ED321;
}
.dashboard-flag.green .flag-corner {
  border-top: 7px solid #7ED321;
}
