.dashboard-flag {
  position: absolute;
  top: -12px;
  right: -5px;
}
.dashboard-flag .flag-corner {
  width: 0;
  height: 0;
  border-right: 7px solid transparent;
}

.dashboard-flag .flag-box {
  color: #ffffff;
  font-size: 0.5em;
  width: 34px;
  height: 20px;
  border-radius: 3px 3px 3px 0;
  text-align: center;
  line-height: 20px;
}

.dashboard-flag.magenta .flag-box {
  background: #F40F97;
}
.dashboard-flag.magenta .flag-corner {
  border-top: 7px solid #F40F97;
}
.dashboard-flag.blue .flag-box {
  background: #00C1F6;
}
.dashboard-flag.blue .flag-corner {
  border-top: 7px solid #00C1F6;
}
.dashboard-flag.green .flag-box {
  background: #7ED321;
}
.dashboard-flag.green .flag-corner {
  border-top: 7px solid #7ED321;
}
.discussion-slider {
  position: relative;
}
.discussion-slider .slider {
  background: #FAFAFA;
}
.discussion-slider:before {
  content: 'keine Storys vorhanden';
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  z-index: -1;
}
.discussion-slider:after {
  content: '';
  width: 317px;
  height: 120px;
  border: 1px solid #9B9B9B;
  opacity: 0.2;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -160px;
  z-index: -1;
}