<!DOCTYPE html>
<html>
	<head>
		<script src="../config.js"></script>
		<script src="../js/gtm.js"></script>
		<script>
			var gtmId = config.gtm.containerId;
			GTM.addToDataLayer('pageType', 'Comment');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer',gtmId);</script>
		<!-- End Google Tag Manager -->
		<meta charset="utf-8">

		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, shrink-to-fit=no">
		<meta name="apple-touch-fullscreen" content="yes"/>
		<meta names="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
		<script src="./library/sly.min.js"></script>
		<!-- <script src="./js/dashboard.js"></script> -->
		<link rel="stylesheet" type="text/css" href="./css/main.css">
		<link rel="stylesheet" type="text/css" href="./css/dashboard.css">
		<link rel="stylesheet" type="text/css" href="./css/icons.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
		<title>pili-ana</title>
	</head>
	<body>
		<header>
			<div class="btn-container">
				<div class="btn-left">
					<a href="/" class="btn back-btn">zurück</a>
				</div>
				<div class="btn-right">
					<a class="btn skip-btn">skip</a>
				</div>
			</div>
			<div class="progress-bar">
				<progress max="100" value="0"></progress>
			</div>
		</header>
		<div class="wrapper grey">
			<div class="comment-counter">&nbsp;</div>
			<div class="comment-title">&nbsp;</div>

			<div class="discussion-container collapsed"></div>
			<div class="comment-container new">
				<div class="comment-status">
					<div class="approved">Freigeschaltet</div>
					<div class="deleted">Gelöscht</div>
				</div>
				<div class="comment-media hidden">
					<div class="desc">Dieser Kommentar <br/> beinhaltet Medien.  <br/> Bitte im CMS bearbeiten.</div>
					<a href="#" class="media-btn">weiter</a>
				</div>
				<div class="comment-meta">
					<div class="comment-user"></div>
					<div class="comment-toxicity"></div>
					<div class="comment-timestamp"></div>
				</div>
				<div class="comment-content"></div>
			</div>
			<div class="comment-staple">
				<div class="staple-1"></div>
				<div class="staple-2"></div>
				<div class="staple-3"></div>
			</div>
			<div class="action-btns">
				<div class="center">
					<div class="btn delete-btn">
						<i class="icon icon-delete"></i>
					</div>
					<div class="btn reply-btn">
						<i class="icon icon-reply"></i>
					</div>
					<div class="btn approve-btn">
						<i class="icon icon-approve"></i>
					</div>
					<div class="show-discussion">
						<span>Diskussion anzeigen</span>
						<div class="btn show-btn"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../js/main.js"></script>
	<script src="../js/comment.js"></script>
</html>
