<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, shrink-to-fit=no">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta names="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="./library/sly.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <title>pili-ana</title>
  </head>
  <body>
    <h1 id="mainHeading">Dashboard</h1>
<section id="ownStorys">
  <h2 class="heading">Eigene Storys</h2>
  <div class="discussionSlider">
    <ul class="slider">
      <li>
        <a href="/comment">
          <div class="dashboardCounter"></div>
          <div class="dashboardTitle">Oberster Gewerkschafter Paul Rechsteiner: «Die bürgeliche Mehrheit hat keine Zukunft». </div>
          <div class="dashboardMeta">
            <div class="dashboardTimestamp">09.04.18, 09:53</div>
            <div class="dashboardAuthor">Yannik Tschan</div>
          </div>
          <div class="dashboardFlag magenta">
            <div class="flagBox">128/128</div>
            <div class="flagCorner"></div>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Wie die amerikanische Gesellschaft unter ihrem Präsidenten leidet</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag magenta">
          <div class="flagBox">2/4</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">#RonalDay in Turin! Heute ist das erste Training – Testspiel-Dorf im Ausnahmezustand</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag magenta">
          <div class="flagBox">15/97</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Das Rätseln geht weiter! Welche Buchtitel verstecken sich hinter diesen 17 Bildern?</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Michelle Marti</div>
        </div>
        <div class="dashboardFlag magenta">
          <div class="flagBox">14/36</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Das Rätseln geht weiter! Welche Buchtitel verstecken sich hinter diesen 17 Bildern?</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Michelle Marti</div>
        </div>
        <div class="dashboardFlag magenta">
          <div class="flagBox">23/105</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
    </ul>
  </div>
</section>
<section id="tagsStorys">
  <h2 class="heading">Tag Storys</h2>
  <div class="discussionSlider">
    <ul class="slider">
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Oberster Gewerkschafter Paul Rechsteiner: «Die bürgeliche Mehrheit hat keine Zukunft». </div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag blue">
          <div class="flagBox">128/128</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Wie die amerikanische Gesellschaft unter ihrem Präsidenten leidet</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag blue">
          <div class="flagBox">2/4</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">#RonalDay in Turin! Heute ist das erste Training – Testspiel-Dorf im Ausnahmezustand</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag blue">
          <div class="flagBox">15/97</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Das Rätseln geht weiter! Welche Buchtitel verstecken sich hinter diesen 17 Bildern?</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Michelle Marti</div>
        </div>
        <div class="dashboardFlag blue">
          <div class="flagBox">14/36</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Das Rätseln geht weiter! Welche Buchtitel verstecken sich hinter diesen 17 Bildern?</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Michelle Marti</div>
        </div>
        <div class="dashboardFlag blue">
          <div class="flagBox">23/105</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
    </ul>
  </div>
</section>
<section id="allStorys">
  <h2 class="heading">Alle Storys</h2>
  <div class="discussionSlider">
    <ul class="slider">
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Oberster Gewerkschafter Paul Rechsteiner: «Die bürgeliche Mehrheit hat keine Zukunft». </div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag green">
          <div class="flagBox">128/128</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Wie die amerikanische Gesellschaft unter ihrem Präsidenten leidet</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag green">
          <div class="flagBox">2/4</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">#RonalDay in Turin! Heute ist das erste Training – Testspiel-Dorf im Ausnahmezustand</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Doris Kleck</div>
        </div>
        <div class="dashboardFlag green">
          <div class="flagBox">15/97</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Das Rätseln geht weiter! Welche Buchtitel verstecken sich hinter diesen 17 Bildern?</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Michelle Marti</div>
        </div>
        <div class="dashboardFlag green">
          <div class="flagBox">14/36</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>
        <a href="#">
        <div class="dashboardCounter"></div>
        <div class="dashboardTitle">Das Rätseln geht weiter! Welche Buchtitel verstecken sich hinter diesen 17 Bildern?</div>
        <div class="dashboardMeta">
          <div class="dashboardTimestamp">09.04.18, 09:53</div>
          <div class="dashboardAuthor">Mcihelle Marti</div>
        </div>
        <div class="dashboardFlag green">
          <div class="flagBox">23/105</div>
          <div class="flagCorner"></div>
        </div>
      </a>
      </li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
    </ul>
  </div>
</section>
<script src="../config.js"></script>
<script src="../js/main.js"></script>
<script src="./js/dashboard.js"></script>

</body>
</html>
