<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, shrink-to-fit=no">
    <meta name="apple-touch-fullscreen" content="yes"/>
    <meta names="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="./library/sly.min.js"></script>
    <!-- <script src="./js/dashboard.js"></script> -->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/loader.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <title>pili-ana</title>
  </head>
  <body>
  <header>
    <div class="btn-container">
      <div class="btn-left">
        <a href="#" class="btn back-btn">zurück</a>
      </div>
    </div>

  </header>
  <div class="wrapper">
    <div class="comment-reply">
      <div class="comment-user">Ophelia Sky</div>
      <div class="comment-content">
        Die ist ein Beispiel für einen Blindtext, der auf deutsch geschrieben ist. Es gibt noch viele weitere Arten...
      </div>
      <textarea class="reply-input processing" placeholder="Schreibe hier deine Antwort"></textarea>

    </div>
    <!-- <div class="comment-reply-container"> -->
      <div class="comment-reply-container processing">
        <div class="comment-status">
          <div class="approved">Freigeschaltet</div>
        </div>
        Die ist ein Beispiel für einen Blindtext, der auf deutsch geschrieben ist. Es gibt noch viele weitere Arten…
      </div>
    <!-- </div> -->
    <div class="comment-reply-btn processing">
      <a href="#" class="reply-approve-btn">antworten & freischalten</a>
    </div>
    <div class="comment-reply load approved">
      <div class="loader-circle"></div>
      <canvas height="70" width="70" id="loader" />
    </div>
  </div>
  <script src="../config.js"></script>
  <script src="../js/main.js"></script>
  <script src="./js/loader.js"></script>

  </body>
</html>
