@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/* GENERAL */
body {
	background: #FAFAFA;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	color: #9B9B9B;
	max-width: 1024px;
	margin: auto;
	max-height: 100vh;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
#mainHeading {
	color: #4A4A4A;
	font-size: 1.4em;
	font-weight: 900;
	letter-spacing: 0.3em;
	text-align: center;
	margin-top: 0;
	padding-top: 2.2em;
}
h2.heading {
	font-size: 1em;
	color: #9B9B9B;
	font-weight: 500;
	margin-bottom: 0;
	padding: 0 15px;
}
.hidden {
	display: none !important;
}
.wrapper {
	position: relative;
	margin-bottom: 2em;
}


/* ICONS */
.icon {
	background-image: url('../media/sprites/icons.png');
	background-repeat: no-repeat;
	display: block;
}

.icon-approve {
	width: 24px;
	height: 17px;
	background-position: -53px -10px;
}

.icon-delete {
	width: 18px;
	height: 18px;
	background-position: -47px -46px;
}

.icon-reply {
	width: 19px;
	height: 14px;
	background-position: -96px -10px;
}



/* LOADER */
.loaderOverlay {
	position: fixed;
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	display: table;
	z-index: 20;
	pointer-events: none;
}
.loader {
	display: inline-block;
	position: absolute;
	width: 46px;
	height: 46px;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 35px;
	height: 35px;
	margin: 6px;
	border: 4px solid #7ED321;
	border-radius: 50%;
	animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #7ED321 transparent transparent transparent;
}
.loader div:nth-child(1) {
	animation-delay: -0.45s;
}
.loader div:nth-child(2) {
	animation-delay: -0.3s;
}
.loader div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.error-msg {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px;
	-ms-word-break: break-all;
	word-break: break-all;
	color: #F40F97;
	text-align: center;
}



/* DISCUSSION VIEW */
.discussion-slider {
	width: 100%;
	height: 150px;
	padding: 0;
	overflow: hidden;
	touch-action: pan-y;
}
.discussion-slider .dashboard-meta {
	display: flex;
}
.discussion-slider .dashboard-title {
	padding: 10px 15px 0;
	font-size: 1.1em;
	color: #4A4A4A;
	height: 80px;
	line-height: 1.4em;
}

.discussion-slider .dashboard-author {
	width: 50%;
	font-size: 0.75em;
	text-align: right;
	padding: 5px 15px;
}
.discussion-slider .dashboard-timestamp {
	width: 50%;
	font-size: 0.75em;
	text-align: left;
	padding: 5px 15px;
}
.discussion-item {
	display: inline-block;
	height: 100%;
	width: 100%;
	white-space: normal;
}
.frame {
	position: relative;
	width: 317px;
	margin: 0 auto;
	white-space: nowrap;
}

.frame li {
	position: relative;
	display: inline-block;
	height: 120px;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
}

.slides {
	display: inline-block;
}

.simple > .frame li {
	width: 317px;
	margin-right: 14px;
}

.simple > .frame li:last-child {
	margin-right: 0;
}

.dashboard-flag {
	position: absolute;
	top: -12px;
	right: -5px;
}
.dashboard-flag .flag-corner {
	width: 0;
	height: 0;
	border-right: 7px solid transparent;
}

.dashboard-flag .flag-box {
	color: #ffffff;
	font-size: 0.5em;
	width: 34px;
	height: 20px;
	border-radius: 3px 3px 3px 0;
	text-align: center;
	line-height: 20px;
}

.dashboard-flag.magenta .flag-box {
	background: #F40F97;
}
.dashboard-flag.magenta .flag-corner {
	border-top: 7px solid #F40F97;
}
.dashboard-flag.blue .flag-box {
	background: #00C1F6;
}
.dashboard-flag.blue .flag-corner {
	border-top: 7px solid #00C1F6;
}
.dashboard-flag.green .flag-box {
	background: #7ED321;
}
.dashboard-flag.green .flag-corner {
	border-top: 7px solid #7ED321;
}
.discussion-slider {
	position: relative;
}
.discussion-slider .slides {
	background: #FAFAFA;
}
.discussion-slider:before {
	content: 'keine Storys vorhanden';
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	opacity: 0.3;
	position: absolute;
	top: 50%;
	margin-top: -0.8em;
	width: 100%;
	z-index: -1;
}
.discussion-slider:after {
	content: '';
	width: 317px;
	height: 120px;
	border: 1px solid #9B9B9B;
	opacity: 0.2;
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -160px;
	z-index: -1;
}



/* COMMENTS VIEW */
/* header */
header {
	height: 55px;
}
header .btn-container {
	display: flex;
	background: white;
}
header .btn-container .btn-left,
header .btn-container .btn-right {
	width: 50%;
	padding: 13px 20px 11px;
	z-index: 1;
}
header .btn-container .btn-right {
	text-align: right;
}

header .btn {
	display: inline-block;
}
header .btn span {
	position: relative;
	margin: 0;
	padding: 0 10px;
	background: #BABABA;
	color: white;
	font-size: 14px;
	cursor: pointer;
	border-radius: 2px;
	display: inline-block;
	line-height: 24px;
	vertical-align: middle;
}
header .btn::before {
	content: '';
	position: relative;
	top: 0;
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
}
header .btn span:hover {
	background: #BABABA;
}
header .back-btn::before {
	border-style: solid;
	left: 1px;
	border-color: transparent #BABABA transparent transparent;
	border-width: 12px 6px 12px 0;
	border-radius: 10px;
}

.progress-bar {
	-webkit-box-shadow: 0px 2px 3px 0px rgba(53, 53, 53, 0.28);
	-moz-box-shadow: 0px 2px 3px 0px rgba(53, 53, 53, 0.28);
	box-shadow: 0px 2px 3px 0px rgba(53, 53, 53, 0.28);
}
progress[value] {
	-webkit-appearance: none;
	appearance: none;

	width: 100%;
	height: 5px;
	display: flex;
}
progress[value]::-webkit-progress-bar {
	background-color: #eee;
}
progress[value]::-webkit-progress-value {
	background-color: #7ED321;
}
progress::-webkit-progress-value {
	-webkit-transition : width .3s ease;
	-moz-transition : width .3s ease;
	-o-transition : width .3s ease;
	transition : width .3s ease;
}

/* comments */
.comment-counter {
	text-align: center;
	font-size: 0.8em;
	padding: 15px 0;
	color: #4A4A4A;
}
.comment-title {
	color: #4A4A4A;
	font-size: 1.1em;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 265px;
	margin: auto;
	display: block;
}
.comment-container {
	padding: 15px 10px;
	margin: 20px 20px 0;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	border-radius: 2px;
	position: relative;
	z-index: 0;
	background: white;
}
.comment-container.new {
	visibility: hidden;
	min-height: 336px;
}
.collapsed ~ .comment-container.new.child {
	height: 336px;
	overflow: hidden;
}
.comment-user {
	font-size: 1em;
	color: #828282;
	display: inline-flex;
}
.comment-timestamp,
.comment-user-stats {
	font-size: 0.75em;
	color: #BDBDBD;
}
.comment-toxicity {
	font-size: 0.75em;
	color: #ffffff;
	height: 20px;
	text-align: center;
	line-height: 20px;
	border-radius: 2px;
	width: 82px;
	float: right;
	font-weight: bold;
}
.comment-toxicity.good {
	background: #7ED321;
}
.comment-toxicity.neutral {
	background: #BABABA;
}
.comment-toxicity.bad {
	background: #F40F97;
}
.comment-content {
	font-weight: 300;
	color: #4A4A4A;
	padding: 15px 0;
	line-height: 1.3em;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.comment-content a {
	background: linear-gradient(to bottom, transparent 90.9%,rgba(0,193,246,1) 91%,rgba(0,193,246,1) 94.9%,transparent 95%);
	text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
}
.comment-content .comment-thumb {
	display: block;
	max-width: 100%;
	padding: 15px 0;
}
.comment-content .comment-youtube {
	margin: 15px 0 0;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	cursor: pointer;
	position: relative;
}
.comment-content .comment-youtube .preview {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(/media/img/main/vendor/background_video.jpeg);
	background-size: cover;
	background-position: left center;
}
.comment-content .comment-youtube .arrow {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 50px;
	border-radius: 50%;
}
.comment-content .comment-youtube iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.comment-content .comment-youtube .youtube_wrapper {

}
.comment-staple {
	opacity: 0.85;
	width: 100%;
	z-index: -1;
	position: relative;
	visibility: hidden;
}
.comment-staple .staple-1,
.comment-staple .staple-2,
.comment-staple .staple-3 {
	margin: auto;
	height: 10px;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	border-radius: 2px;
	position: relative;
	background: white;
}
.comment-staple .staple-1 {
	width: 85%;
	z-index: 2;
}
.comment-staple .staple-2 {
	width: 80%;
	opacity: 0.8;
	z-index: 1;
}
.comment-staple .staple-3 {
	width: 75%;
	height: 10px;
	opacity: 0.4;
	z-index: 0;
}
.comment-media {
	margin: auto;
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	width: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 99;
}
.comment-media .desc {
	text-align: center;
	color: #4A4A4A;
	font-weight: 600;
	font-size: 1em;
	max-width: 65%;
	margin: auto;
	padding: 15px 15px 30px;
	line-height: 1.4em;
}
.comment-media .media-btn {
	border-radius: 2px;
	background: #7ED321;
	color: #ffffff;
	font-size: 1em;
	padding: 8px 45px;
}
.action-btns {
	visibility: hidden;
	margin: auto;
	margin-top: -3.125em;
	text-align: center;
	z-index: 10;
}
.action-btns .center {
	display: inline-flex;
}
.action-btns .btn {
	width: 3.125em;
	height: 3.125em;
	border-radius: 3.125em;
	margin: 0 1.5625em;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	transition: all .3s ease;
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.action-btns .delete-btn {
	background-color: #F40F97;
	position: absolute;
	left: 10%;
	bottom: 0;
}
.action-btns .delete-btn.swipe {
	left: 0;
	bottom: calc((100vh / 2) - 50px);
}
.action-btns .delete-btn.ready,
.action-btns .approve-btn.ready {
	background-color: #FFFFFF;
}
.action-btns .delete-btn.ready .icon-delete {
	background-position: -10px -46px;
}
.action-btns .reply-btn,
.action-btns .show-btn {
	background-color: #00C1F6;
}
.action-btns .approve-btn {
	background-color: #7ED321;
	position: absolute;
	right: 10%;
	bottom: 0;
}
.action-btns .approve-btn.swipe {
	bottom: calc((100vh / 2) - 50px);
	right: 0;
}
.action-btns .approve-btn.ready .icon-approve {
	background-position: -9px -10px;
}
.action-btns .show-btn {
	margin: 0 auto;
}
.action-btns .show-btn:after {
	content: '';
	display: block;
	width: 0px;
	height: 0px;
	border-top: 15px solid white;
	border-bottom: 0px solid transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	margin: 5px auto 0;
}
.discussion-container.collapsed {
	overflow: hidden;
	height:0;
}
.discussion-container.collapsed ~ .comment-container.child ~ .action-btns .delete-btn,
.discussion-container.collapsed ~ .comment-container.child ~ .action-btns .reply-btn,
.discussion-container.collapsed ~ .comment-container.child ~ .action-btns .approve-btn {
	display: none;
}
.discussion-container.collapsed ~ .comment-container.child ~ .action-btns .show-discussion,
.discussion-container.collapsed ~ .comment-container.child ~ .comment-staple {
	display: block;
	visibility: visible;
}
.discussion-container:not(.collapsed) .comment-container:after,
.discussion-container.collapsed ~ .comment-container.child.new:after,
.comment-reply-container:after {
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
	pointer-events: none;
}
.discussion-container.collapsed ~ .comment-container.child.new:after,
.comment-reply-container:after {
	height: 50%;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
}
.show-discussion {
	width: 100vw;
	text-align: center;
	display: none;
	z-index: 10;
}
.show-discussion span {
	position: absolute;
	width: 100%;
	bottom: 15%;
	left: 0;
	color: #4A4A4A;
	font-weight: bold;
}
.swipe-delete, .swipe-approve {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.3s ease;
}
.swipe-delete {
	background: -moz-linear-gradient(left, rgba(244,15,151,1) 0%, rgba(244,15,151,0) 100%);
	background: -webkit-linear-gradient(left, rgba(244,15,151,1) 0%,rgba(244,15,151,0) 100%);
	background: linear-gradient(to right, rgba(244,15,151,1) 0%,rgba(244,15,151,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f40f97', endColorstr='#00f40f97',GradientType=1 );
}
.swipe-approve {
	background: -moz-linear-gradient(left, rgba(126,211,33,0) 0%, rgba(126,211,33,1) 100%);
	background: -webkit-linear-gradient(left, rgba(126,211,33,0) 0%,rgba(126,211,33,1) 100%);
	background: linear-gradient(to right, rgba(126,211,33,0) 0%,rgba(126,211,33,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007ed321', endColorstr='#7ed321',GradientType=1 );
}
.swipe-delete.swipe, .swipe-approve.swipe {
	opacity: 0.2;
}
.comment-status {
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: rgba(255, 255, 255, 0.75);
	display: none;
	z-index: 1;
}
.comment-status .approved,
.comment-status .deleted {
	font-weight: 800;
	letter-spacing: 0.3em;
	font-size: 1.5em;
	position: relative;
	top: 50%;
	margin-top: -20px;
	display: none;
	text-shadow: 0px 0px 20px white;
}
.comment-status.hidden .approved,
.comment-status.hidden .deleted {
	display: none;
}
.comment-status .approved {
	color: #7ED321;
}
.comment-status .deleted {
	color: #F40F97;
}



/* REPLY VIEW */
.comment-reply {
	padding: 0.8em 0;
	margin: 0 1.25em 0;
}
.comment-reply .comment-content {
	color: #9B9B9B;
	font-size: 0.8em;
	height: 0;
	overflow: hidden;
	transition: height .3s ease;
}
.comment-reply .comment-content p {
	margin: 0;
}
.comment-reply.load {
	position: relative;
	height: 40px;
	display: none;
	padding: 0;
}
.comment-reply.load.approved {
	display: none;
}
.comment-reply textarea {
	border: 1px solid #979797;
	border-radius: 2px;
	width: 100%;
	resize: none;
	height: 20em;
	color: #4A4A4A;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding: 1em;
	font-size: 1em;
	box-sizing: border-box;
	min-height: 355px;
}
.comment-reply textarea:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.comment-reply textarea::-webkit-input-placeholder {
	color: #9B9B9B;
	opacity: 1;
}
.comment-reply textarea:-moz-placeholder{
	color: #9B9B9B;
	opacity: 1;
}
.comment-reply textarea::-moz-placeholder{
	color: #9B9B9B;
	opacity: 1;
}
.comment-reply textarea:-ms-input-placeholder {
	color: #9B9B9B;
	opacity: 1;
}
.comment-reply-btn {
	margin: auto;
	width: 100%;
	text-align: center;
}
.comment-reply-btn .reply-approve-btn {
	border-radius: 2px;
	background: #7ED321;
	color: #ffffff;
	font-size: 1em;
	padding: 0.5em 1.5em;
	display: inline-block;
}
.comment-reply-btn.off {
	pointer-events: none;
	opacity: 0.5;
}
.reply-input.processing,
.comment-reply-btn.processing {
	display: none;
}
.comment-reply-content.processing,
.comment-reply-container.processing,
.comment-reply.load.processing {
	display: block;
}
.comment-reply-content {
	display: none;
}
.comment-reply-container {
	padding: 15px 10px;
	-webkit-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 1px 19px 0px rgba(0,0,0,0.13);
	border-radius: 2px;
	position: relative;
	height: 355px;
	font-weight: 300;
	color: #4A4A4A;
	display: none;
	box-sizing: border-box;
	overflow-wrap: break-word;
	word-wrap: break-word;
	overflow: hidden;
	background: white;
}
.reply-status-message {
	color: #F40F97;
	font-size: 0.8em;
	padding: 0 1em;
}
