<div class="loaderOverlay"><div class="loader"><div></div><div></div><div></div><div></div></div></div>
<div id="index" data-type="Overview"></div>
<h1 id="mainHeading">Dashboard</h1>
<section id="ownStorys" class="loading">
	<h2 class="heading">Eigene Storys</h2>
	<div class="discussion-slider js_slider simple">
		<div class="frame js_frame">
			<ul class="slides js_slides"></ul>
		</div>
	</div>
</section>
<section id="allStorys">
	<h2 class="heading">Alle Storys</h2>
	<div class="discussion-slider js_slider simple">
		<div class="frame js_frame">
			<ul class="slides js_slides"></ul>
		</div>
	</div>
</section>