<div class="loaderOverlay" style="display:none;"><div class="loader"><div></div><div></div><div></div><div></div></div></div>
<header>
	<div class="btn-container">
	  <div class="btn-left">
		<a href="javascript:void();" class="btn back-btn" id="back-btn"><span>zurück</span></a>
	  </div>
	</div>

</header>
<div id="index" data-type="Reply"></div>

<div class="wrapper">
	<div class="comment-reply">
		<div class="comment-user">&nbsp;</div>
		<div class="comment-content"><p></p></div>
		<div class="comment-status"><div class="approved">Freigeschaltet</div></div>
		<textarea class="reply-input" placeholder="Schreibe hier deine Antwort"></textarea>
		<div class="reply-status-message"></div>
	</div>
	<div class="comment-reply-btn off">
		<a class="reply-approve-btn">antworten & freischalten</a>
	</div>
</div>
